<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>

<body>
    <main class="main">
        <header class="header">
            <a href="" class="header__logo">LOGO</a>
            <div class="header__container">
                <ul class="header__list">
                    <li class="link1"><a href="/page/">HOME</a></li>
                    <li class="link1 profile"><a href="/page/profile">PROFILE</a></li>
                    <li class="link1 authEvent"><a href="/page/signin">LOGIN</a></li>
                    <li class="link1 authEvent"><a href="/page/signup">REGISTRY</a></li>
                </ul>
                <button class="header__btn">Кнопка</button>
            </div>
        </header>

        <section class="home">
            <div class="home__container">
                <h1 class="home__title">Hello! My name is Yuliya Spy!</h1>
                <p class="home__text">This is my Sweat Webpage</p>
            </div>
            <img src="../img/home.jpg" alt="">
        </section>

        <section class="getContact">
            <img src="../img/home1.jpg" alt="">
            <form class="form">
                <label class="form__label" for="Name">Name</label>
                <input type="text" id="Name" class="form__input" name="Name" placeholder="Name">
                <label class="form__label" for="email">Email</label>
                <input type="text" id="email" class="form__input" name="email" placeholder="Email">
                <input type="submit" class="form__submit" value="Contact me">
            </form> 
        </section>


        <footer class="footer">
            <div class="footer__container">
                <a href="" class="footer__logo">LOGO</a>
                <p class="footer__text">
                    1213 Jerde WalkStreet North Avenue,
                    California
                    USA, 011234
                </p>
            </div>
            <div class="footer__links">
                <a href="" class="footer__link">Link</a>
                <a href="" class="footer__link">Link</a>
                <a href="" class="footer__link">Link</a>
                <a href="" class="footer__link">Link</a>
                <a href="" class="footer__link">Link</a>
                <a href="" class="footer__link">Link</a>
                <a href="" class="footer__link">Link</a>
                <a href="" class="footer__link">Link</a>
            </div>
        </footer>
    </main>
</body>
<script type="module" src="/js/index.js"></script>
</html>