<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <main>
        <form class="form" data-method="POST" data-url = "/user/signin">
            <h2 class="title">Login</h2>
            <label for="">Login</label>
            <input autocomplete="off" pattern="^[\w+@+\.]+$"  placeholder="Enter your login" name="email" class="form__inp" type="text" data-error-pattern="Допускаются латиница и цифры" required>
            <p class="error-inp"></p>
            <label for="">Password</label>
            <input autocomplete="off" pattern="^[\w+]+$" placeholder="Enter your password" minlength="6" name="password" class="form__inp" type="text" data-error-pattern="Не соответствует паролю" data-error-length="минимум 6 символов" required>
            <p class="error-inp"></p>
            <button class="form__submit" disabled>Submit</button>
            <p class="serverMessage"></p>
        </form>
    </main>

    <script type="module" src="/js/form.js"></script>
</body>
</html>